.checkout-form h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--font-md);
  margin: 0 0 var(--pc-space-400);
}

.form-field {
  margin: 0 0 var(--pc-space-300);
}

.form-field-double {
  display: flex;
  align-items: center;
  gap: var(--pc-space-300);
}

.form-field input,
.form-field select {
  width: 100%;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pc-accent);
  color: var(--pc-white-static);
  line-height: var(--pc-space-600);
  text-align: center;
  border-radius: var(--pc-radius-md);
  width: 100%;
  margin: 0 auto;
}