.summary .heading {
  font-weight: 400;
  font-size: var(--font-sm-alt);
  text-transform: uppercase;
  margin: 0 0 var(--pc-space-400);
}

.sep {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: var(--pc-input-border);
  margin: var(--pc-space-400) 0;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}