.panel {
  gap: var(--pc-space-300);
  flex-direction: column;
  width: 90%;
  min-height: calc(100vh - 304px);
  margin: 0 auto;
  display: flex;
}

.scene {
  display: grid;
  grid-template-columns: 65fr 35fr;
  gap: var(--pc-space-600);
  margin: 0 auto var(--pc-space-700);
  max-width: var(--pc-max-width);
  width: 100%;
}

.scene-empty {
  justify-content: center;
}

.scene-empty .scene {
  display: flex;
  flex-direction: column;
  gap: var(--pc-space-100);
  align-items: center;
  justify-content: center;
}

.scene-empty .heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--font-base);
}

.empty-cta {
  font-size: var(--font-sm-alt);
} 

.empty-cta a {
  color: var(--pc-accent);
}