.panel {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--pc-space-300);
  min-height: 700px;
}

.scene {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--pc-space-800);
  margin: 0 auto var(--pc-space-700);
  max-width: var(--pc-max-width);
}

@media only screen and (max-width: 1000px) {
  .scene {
    grid-template-columns: 1fr;
    gap: var(--pc-space-400);
  }
}

.preview {
  cursor: pointer;
}

.preview-figure {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

@media only screen and (max-width: 1000px) {
  .info {
    max-width: 100%;
  }
}

.info h1 {
  font-size: var(--font-sm-alt);
  font-weight: 400;
  line-height: var(--lh-relaxed);
  text-transform: uppercase;
}

.description {
  font-size: var(--font-sm-alt);
  margin: var(--pc-space-300) 0;
  line-height: var(--lh-relaxed);
}

.details {
  font-size: var(--font-sm);
  margin: var(--pc-space-300) 0;
  line-height: var(--lh-relaxed);
  color: var(--pc-text-muted);
}

.details ul {
  list-style: none;
  margin: var(--pc-space-100) 0;
  padding: 0 0 0 var(--pc-space-200);
}

.details p {
  margin-bottom: var(--pc-space-100);
}

.variation-label {
  font-size: var(--font-sm);
  text-transform: uppercase;
  margin: var(--pc-space-300) 0 var(--pc-space-25);
}

.variations {
  display: inline-flex;
  gap: var(--pc-space-50);
  margin-top: var(--pc-space-50);
}

.variation button {
  font-size: var(--font-sm-alt);
  border: 0;
  outline: none;
  padding: var(--pc-space-25) var(--pc-space-200);
  border-bottom: 0 solid transparent;
  position: relative;
  color: var(--pc-text);
  transition: all 0.3s ease;
  background-color: var(--pc-light-10);
  border-radius: var(--pc-radius-xs);
}

.variation button:hover {
  background-color: var(--pc-light-20);
}

.variation button.active {
  background-color: var(--pc-light-30);
}

.variation button.active:hover {
  background-color: var(--pc-light-30);
}

[data-theme='light'] .variation button {
  background-color: var(--pc-bg-10);
}

[data-theme='light'] .variation button.active {
  background-color: var(--pc-bg-20);
}

[data-theme='light'] .variation button:hover {
  background-color: var(--pc-bg-20);
}

.price {
  margin: var(--pc-space-100) 0 0;
  font-size: var(--font-sm);
}

.price-number {
  font-size: var(--font-base);
}

.breadcrumb {
  max-width: var(--pc-max-width);
  margin: 0 auto;
  width: 100%;
}

.breadcrumb a {
  display: inline-flex;
  gap: var(--pc-space-200);
  align-items: center;
  font-size: var(--font-sm-alt);
  text-transform: lowercase;
  color: var(--pc-text-subtle);
  transition: all 0.3s ease;
}

.breadcrumb a:hover {
  color: var(--pc-text);
}

.fill-crumb {
  fill: var(--pc-text-muted);
}

.cart-btn {
  color: var(--pc-bg);
  background-color: var(--pc-prime-btn);
  padding: 0 var(--pc-space-300);
  line-height: var(--pc-space-500);
  border-radius: var(--pc-radius-md);
  width: 90%;
  font-size: var(--font-sm-alt);
  margin-top: auto;
  transition: all 0.3s ease;
}

.cart-btn:hover {
  box-shadow: inset 0 0 0 9999px var(--pc-bg-10);
}

.modal {
  position: fixed;
  inset: 0;
  background: var(--pc-bg-90);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99991;
}

[data-theme='light'] .modal {
  background: var(--pc-light-90);
}

.modal-content {
  max-width: 90vw;
  max-height: 80vh;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: var(--pc-mobs);
  border-radius: 50%;
  transition: all 0.3s ease;
  position: absolute;
  top: var(--pc-space-500);
  right: var(--pc-space-500);
  z-index: 99995;
}

.close:hover {
  background-color: var(--pc-bg-05);
}

.fill-x {
  fill: var(--pc-text);
}