.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--pc-bg-60);
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.drawer {
  position: fixed;
  top: var(--pc-space-100);
  right: var(--pc-space-100);
  width: 480px;
  height: calc(100vh - var(--pc-space-200));
  background-color: var(--pc-white-static);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  padding: var(--pc-space-300);
  border-radius: var(--pc-radius-base);
  color: var(--pc-mobs-static);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--font-md);
}

.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.close:hover {
  background-color: var(--pc-bg-05);
}

.fill-x {
  fill: var(--pc-mobs-static);
}

.items {
  flex: 1;
  overflow-y: auto;
  margin-top: var(--pc-space-300);
}

.item {
  display: flex;
  gap: 10px;
  margin-bottom: var(--pc-space-300);
}

.preview {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--pc-radius-md);
}

.info {
  flex: 1;
}

.info h4 {
  font-weight: 400;
  font-size: var(--font-md);
}

.atts {
  font-size: var(--font-sm);
}

.controls {
  display: flex;
  gap: var(--pc-space-100);
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}

.btn-remove {
  font-size: var(--font-sm-alt);
  margin-left: var(--pc-space-200);
  display: inline-flex;
  padding: 2px 0;
  position: relative;
  line-height: 1;
}

.btn-remove::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--pc-mobs-static);
  transition: all 0.2s ease;
}

.btn-remove:hover::after {
  width: 100%;
}

.quantity {
  font-size: var(--font-sm-alt);
}

.btn-stepper {
  display: inline-flex;
  width: var(--pc-space-200);
  height: var(--pc-space-200);
  align-items: center;
  justify-content: center;
  border-radius: var(--pc-radius-sm);
}

.btn-stepper:hover {
  background-color: var(--pc-bg-15);
}

.price {
  font-weight: 400;
  font-size: var(--font-md);
}

.price-currency {
  font-size: var(--font-xs);
}

.footer {
  border-top: 1px solid var(--pc-text-muted-static);
  padding-top: var(--pc-space-200);
}

.total {
  margin-bottom: var(--pc-space-200);
  color: var(--pc-mobs-sec-static);
}

.total-currency {
  font-size: var(--font-xs);
}

.total-label {
  font-size: var(--font-sm);
  text-transform: uppercase;
}

.checkout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px var(--pc-space-100);
  background: var(--pc-accent);
  color: var(--pc-white-static);
  border: none;
  cursor: pointer;
  border-radius: var(--pc-radius-md);
  font-size: var(--font-sm-alt);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.checkout:hover {
  box-shadow: inset 0 0 0 9999px var(--pc-bg-10);
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  gap: var(--pc-space-200);
  font-size: var(--font-sm-alt);
}

.empty-image {
  width: 100%;
  height: auto;
  border-radius: var(--pc-radius-sm);
}