.nav {
  background-color: var(--pc-bg-50);
  -webkit-backdrop-filter: blur(33px);
  backdrop-filter: blur(23px);
  border-radius: var(--pc-radius-md);
  padding: var(--pc-space-300) var(--pc-space-400);
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.nav.collapsed {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.navitem {
  line-height: var(--pc-space-400);
}

.navitem.navalt {
  margin-top: var(--pc-space-300);
  position: relative;
}

.navitem.navalt::before {
  content: '+++';
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: -18px;
  left: 0;
  font-size: var(--font-xs);
  line-height: 1;
  color: var(--pc-light-50);
}

.link {
  font-size: var(--font-sm);
  color: var(--pc-text);
  display: flex;
  align-items: center;
  gap: var(--pc-space-100);
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.navlabel {
  transition: color 0.3s ease;
}

.link:hover .navlabel {
  color: var(--pc-accent);
}

.separator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--pc-light-10);
  flex: 1;
  margin-left: var(--pc-space-300);
  overflow: hidden;
}

.separator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--pc-light-05);

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.link:hover .separator::after {
  transform: translateX(0%);
}

.markerfill {
  fill: var(--pc-light-20);
  transition: transform 0.3s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.link:hover .markerfill {
  fill: var(--pc-accent);
  transform: rotate(90deg);
}

@media only screen and (max-width: 480px) {
  
}