.nav {
  background-color: var(--pc-bg-50);
  -webkit-backdrop-filter: blur(33px);
  backdrop-filter: blur(23px);
  border-radius: var(--pc-radius-md);
  padding: var(--pc-space-400);
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.navitem {
  line-height: var(--pc-space-400);
}

.navitem.navalt {
  margin-top: var(--pc-space-300);
  position: relative;
}

.navitem.navalt::before {
  content: '+++';
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: -18px;
  left: 0;
  font-size: var(--font-xs);
  line-height: 1;
  color: var(--pc-light-50);
}

.link {
  font-size: var(--font-sm);
  text-transform: uppercase;
  color: var(--pc-text);
  display: flex;
  align-items: center;
  gap: var(--pc-space-100);
  transition: all 0.3s ease;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--pc-light-10);
  flex: 1;
  margin-left: var(--pc-space-300);
}

.markerfill {
  fill: var(--pc-light-20);
}

.link:hover .markerfill {
  fill: var(--pc-accent);
} 

@media only screen and (max-width: 480px) {
  
}