.panel {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 95%;
  margin: 0 auto;
  gap: 100px;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pc-space-800);
  width: 100%;
}

.panel.full {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: var(--pc-bg);
  margin: 0;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

.panel.full .related {
  display: none;
}

.scene.fullscreen {
  width: 100vw;
}

.scene.fullscreen .piece {
  flex: unset;
  max-height: 90vh;
}

.scene.fullscreen .snap {
  max-height: 85vh;
}

.scene.fullscreen .nav span {
  display: none;
}

.scene.fullscreen .nav {
  width: 45px;
}

.nav {
  width: 135px;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: var(--pc-space-200);
  font-size: var(--font-sm);
  color: var(--pc-text-subtle);
  position: relative;
  bottom: var(--pc-space-300);
  -webkit-tap-highlight-color: transparent;
  padding: var(--pc-space-400) 0;
}

.nav.idle {
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}

.nav span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.9;
}

.nav svg {
  position: relative;
  top: 1px;
}

.piece {
  flex: 1;
  order: 2;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: var(--pc-space-300);
  max-height: 100vh;
}

.caption {
  font-size: var(--font-sm-alt);
  color: var(--pc-text);
  text-align: center;
}

.caption h1 {
  font-size: var(--font-sm-alt);
  font-weight: 400;
}

[data-theme='light'] .caption h1 {
  font-weight: 300;
}

.nav-prev {
  order: 1;
  justify-content: flex-end;
}

.nav-next {
  order: 3;
  justify-content: flex-start;
}

.snapper {
  display: flex;
  justify-content: center;
}

.snap {
  width: auto;
  height: auto;
  max-height: 95vh;
}

.fill-paginate {
  fill: var(--pc-text-muted);
  transition: all 0.3s ease;
}

.nav:hover .fill-paginate {
  fill: var(--surface);
}

@media only screen and (max-width: 1600px) {
  .scene {
    gap: var(--pc-space-400);
  }
}

@media only screen and (max-width: 1200px) {
  .scene {
    gap: var(--pc-space-300);
    margin-top: var(--pc-space-400);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav {
    width: auto;
  }

  .nav span {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .panel {
    gap: var(--pc-space-300);
  }

  .scene {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "piece piece"
      "prev  next";
  }

  .scene.fullscreen {
    width: 90%;
  }

  .snap {
    width: 100%;
  }

  .piece {
    grid-area: piece;
    margin-bottom: var(--pc-space-100);
  }

  .nav-prev {
    grid-area: prev;
    justify-self: start;
    width: auto;
  }

  .nav-next {
    grid-area: next;
    justify-self: end;
    width: auto;
  }
}