.panel {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 95%;
  margin: 0 auto;
  gap: 100px;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pc-space-800);
  width: 100%;
}

.nav {
  width: 135px;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: var(--pc-space-200);
  font-size: var(--font-sm);
  color: var(--pc-text-subtle);
  position: relative;
  bottom: var(--pc-space-300);
}

.nav.idle {
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}

.nav span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav svg {
  position: relative;
  top: 1px;
}

.piece {
  flex: 1;
  order: 2;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: var(--pc-space-300);
}

.caption {
  font-size: var(--font-sm-alt);
  color: var(--pc-text);
  text-align: center;
}

.caption h1 {
  font-size: var(--font-sm-alt);
  font-weight: 400;
}

.nav-prev {
  order: 1;
  justify-content: flex-end;
}

.nav-next {
  order: 3;
  justify-content: flex-start;
}

.snap {
  width: 100%;
  height: auto;
}

.fill-paginate {
  fill: var(--pc-text-muted);
}

@media only screen and (max-width: 1600px) {
  .scene {
    gap: var(--pc-space-400);
  }
}

@media only screen and (max-width: 1200px) {
  .scene {
    gap: var(--pc-space-300);
    margin-top: var(--pc-space-400);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav {
    width: auto;
  }

  .nav span {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .scene {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "piece piece"
      "prev  next";
  }

  .piece {
    grid-area: piece;
    margin-bottom: var(--pc-space-600);
  }

  .nav-prev {
    grid-area: prev;
    justify-self: start;
    width: auto;
  }

  .nav-next {
    grid-area: next;
    justify-self: end;
    width: auto;
  }
}