.header {
  padding: var(--pc-space-600);
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.logo a svg {
  display: block;
  outline: none;
}

.fillaccent {
  fill: var(--pc-accent);
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: var(--pc-space-400);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    width: 90%;
    margin: 0 auto;
    padding: var(--pc-space-400) var(--pc-space-50);
  }
}