.pane {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  max-width: 60%;
  margin: var(--pc-space-300) 0 var(--pc-space-600);
}

.segment {
  font-size: var(--font-sm-alt);
  line-height: var(--lh-relaxed);
  width: 70%;
  margin: 0 auto;
}

.sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.segment svg {
  margin-bottom: var(--pc-space-400);
}

.figure {
  width: 100%;
  height: auto;
  margin: var(--pc-space-400) 0;
}

.mailto {
  cursor: pointer;
  color: var(--pc-accent);
}

@media only screen and (max-width: 1000px) {
  .segment {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .panel {
    max-width: 80%;
    margin: var(--pc-space-500) 0 var(--pc-space-400);
  }
}