.footer {
  background-color: var(--pc-bg);
  border-radius: var(--pc-radius-md);
  padding: var(--pc-space-100);
  display: flex;
  align-items: center;
  gap: var(--pc-space-200);
}

.footer.light {
  background-color: transparent;
  border-radius: 0;
  padding: var(--pc-space-600);
}

.nav {
  padding: 0 0 0 var(--pc-space-200);
}

.credit {
  color: var(--pc-text-subtle);
  font-size: var(--font-sm);
}

.credit a {
  color: var(--pc-text);
}

.credit .mailto {
  color: var(--pc-text);
  cursor: pointer;
}

.spacer {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--pc-space-50);
}

.fillshade {
  fill: var(--pc-bg-muted);
  transition: fill 0.3s ease;
}

.paginate:hover .fillshade {
  fill: var(--pc-text)
}

.filler {
  fill: var(--pc-text);
}

.collapse {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: var(--pc-radius-sm);
  background-color: var(--pc-accent);
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .footer.light {
    width: 90%;
    margin: 0 auto;
    padding: var(--pc-space-500) var(--pc-space-100);
  }
}

@media only screen and (max-width: 480px) {
  .plain .label {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .plain .spacer {
    display: none;
  }

  .plain .credit {
    display: inline-flex;
    align-items: center;
    gap: var(--pc-space-100);
  }

  .footer.plain {
    gap: var(--pc-space-100)
  }

  .nav {
    padding-left: var(--pc-space-100);
  }
}